<!-- weather.html -->

<!DOCTYPE html>
<html>
<head>
    <title>天气信息</title>
</head>
<body>
    <h1>城市：{{ weather_info.city }}</h1>
    <p>国家：{{ weather_info.country }}</p>
    <p>天气现象：{{ weather_info.text }}</p>
    <p>温度：{{ weather_info.temperature }} ℃</p>
{#    <p>体感温度：{{ weather_info.feels_like }} ℃</p>#}
{#    <p>气压：{{ weather_info.pressure }} mb</p>#}
{#    <p>风向：{{ weather_info.wind_direction }}</p>#}
{#    <p>能见度：{{ weather_info.visibility }} km</p>#}
{#    <p>湿度：{{ weather_info.humidity }} %</p>#}

    {% if weather_info.error %}
        <p>{{ weather_info.error }}</p>
    {% endif %}
</body>
</html>
