<!DOCTYPE html>
<html>
<head>
    <title>登出界面</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            text-align: center;
        }

        h1 {
            margin-top: 50px;
            color: #333;
        }

        p {
            font-size: 18px;
            margin-top: 20px;
            color: #666;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin-top: 20px;
        }

        li {
            display: inline-block;
            margin: 0 10px;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

        a:hover {
            background-color: #555;
        }
    </style>
</head>
<body>
    <h1>您已成功登出</h1>
    <p>请选择继续操作：</p>
    <ul>
        <li><a href="{% url 'login' %}">返回登录</a></li>
        <li><a href="/">返回首页</a></li>
    </ul>
</body>
</html>
