<!DOCTYPE html>
<html>
<head>
    <title>用户登录</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }

        .login-form {
            width: 400px;
            padding: 20px;
            border-radius: 5px;
        }

        .login-form label {
            font-size: 18px;
        }

        .login-form .layui-input, .login-form .layui-textarea {
            font-size: 15px;
            padding: 20px;
            width: auto;
        }


    </style>
</head>
<body>
    <div class="login-form">
        <div> <h2><i class="layui-icon layui-icon-username" style="font-size:30px"></i>  用户登录</h2></div>
        <form method="POST" class="layui-form" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="layui-icon layui-icon-user" ></i>用户名</label>
                <div class="layui-input-inline">
                    <input type="text" id="username" name="username" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="layui-icon layui-icon-password" style="font-size: large"></i>密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit lay-filter="formDemo">立即登录</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>


</body>
</html>
