{% extends "base.html" %}
{% load static %}
{% block title %}
{{ jishuName }}
{% endblock %}
{% block content %}
     <link href="{% static 'css/style.css' %}" rel="stylesheet" >
      <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/jishu.css' %}" rel="stylesheet" >
    <!--主体内容-->
    <div class="container">
        <div class="row row-3">
            <!--侧边导航栏-->
            <div class="col-md-3">
                <div class="model-title">
                   技术杂谈
                </div>
                <div class="model-list">
                    <ul class="list-group">
                        <li class="list-group-item" id="Python">
                            <a href="{% url 'jishu:jishu' 'Python' %}">Python</a>
                        </li>
                        <li class="list-group-item" id="前端">
                            <a href="{% url 'jishu:jishu' '前端' %}">前端</a>
                        </li>
                        <li class="list-group-item" id="大数据">
                            <a href="{% url 'jishu:jishu' '大数据' %}">大数据</a>
                        </li>
                        <li class="list-group-item" id="NoSql">
                            <a href="{% url 'jishu:jishu' 'NoSql' %}">NoSql</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--产品的说明文字后和图片-->
            <div class="col-md-9">
                <div class="model-details-title">
                    {{ jishuName }}
               <div class="col-md-7 hidden-xs model-details-title-search">
                        <form method="get" action="{% url 'jishu:search'  %}">  <!--newsApp中名为search的路由-->
                            {% csrf_token %} <!--为了防止csrf（跨站请求伪造）-->
                            <div class="input-group"> <!--bootstrap-->
                                <input type="text" name="keyword" class="form-control" placeholder="请输入关键词" required>
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-default" value="查询">
                                </span>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="model-details">

                    {% for myjishu in jishuList %}   <!--jishuList为后台传过来的新闻数据-->
                    <div class="news-model">
                       <img src="{% static 'img/newsicon.gif' %}">
                        <a href="{% url 'jishu:jishuDetail' myjishu.id %}"> <b>{{ myjishu.title }}</b> </a>
                        <span> 【{{ myjishu.publishDate|date:"Y-m-d" }}】</span>
                        <p>
                            <!--添加新闻简要说明-->
                            {{ myjishu.mytxt|truncatechars:"110" }}...
                        </p>
                    </div>
                    {% endfor %}

            {% if pageData %}
                <div class="paging">
                    <ul id="pages" class="pagination pagination-sm pagination-xs">
                        {% if pageData.first %}
                        <li><a href="?page=1">1</a></li>
                        {% endif %}
                        {% if pageData.left %}
                        {% if pageData.left_has_more %}
                        <li><span>...</span></li>
                        {% endif %}
                        {% for i in pageData.left %}
                        <li><a href="?page={{i}}">{{i}}</a></li><!--单击时会将参数page的值封装到request中，后台从request中得到page变量值-->
                        {% endfor %}
                        {% endif %}
                        <li class="active"><a href="?page={{pageData.page}}">{{pageData.page}}</a></li>
                        {% if pageData.right %}
                        {% for i in pageData.right %}
                        <li><a href="?page={{i}}">{{i}}</a></li>
                        {% endfor %}
                        {% if pageData.right_has_more %}
                        <li><span>...</span></li>
                        {% endif %}
                        {% endif %}
                        {% if pageData.last %}
                        <li><a href="?page={{pageData.total_pages}}">{{pageData.total_pages}}</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
