{% extends "base.html" %}
{% load static %}
{% block title %}
{{ jishuName }}
{% endblock %}
{% block content %}
     <link href="{% static 'css/style.css' %}" rel="stylesheet" >
      <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/jishu.css' %}" rel="stylesheet" >
    <div class="container">
        <div class="model-details-product-title">
            {{ myjishu.title }}   <!--mynew为后台传递过来的数据-->
            <div class="model-foot">
                发布时间：{{ myjishu.publishDate|date:'Y-m-d' }} &nbsp;&nbsp;
                浏览次数：{{ myjishu.views }}
            </div>
        </div>
        <div class="model-details">
                {{ myjishu.description|safe}} <!--safe实现富文本的内容渲染-->
        </div>
    </div>
{% endblock %}

