{% extends "base.html" %}
{% block title %}
    关于我
{% endblock %}
{% load static %}
{% block content %}
    <link href="{% static 'css/common.css' %}" rel="stylesheet" >
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/echarts.js' %}"></script>
    <style>
    .liuyan{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    </style>

    <script>
  $(window).load(function () {
    $(".loading").fadeOut()
  })

  /****/
  $(document).ready(function () {
    var whei = $(window).width()
    $("html").css({ fontSize: whei / 20 })
    $(window).resize(function () {
      var whei = $(window).width()
      $("html").css({ fontSize: whei / 20 })
    });
  });
</script>
        <script src="{% static 'js/js.js' %}"></script>
<div>
  <div>
    <div>
        <div class="canvas" style="opacity: .2">
    <iframe frameborder="0" src="/layui/js/index.html" style="width: 100%; height: 100%"></iframe>
  </div>
  <div class="loading">
    <div class="loadbox"> <img src="/layui/picture/loading.gif"> 页面加载中... </div>
  </div>
  <div class="head">
    <div class="filterbox filterbox1">
      <select name="" id="country">
      </select>
      <a href="javascript:void(0)" id="filter1">筛选</a>
    </div>
    <h1>人口预警信息平台</h1>
    <div class="weather"><!--<img src="picture/weather.png"><span>多云转小雨</span>--><span id="showTime"></span></div>

    <script>
      var t = null;
      t = setTimeout(time, 1000);//開始运行
      function time() {
        clearTimeout(t);//清除定时器
        dt = new Date();
        var y = dt.getFullYear();
        var mt = dt.getMonth() + 1;
        var day = dt.getDate();
        var h = dt.getHours();//获取时
        var m = dt.getMinutes();//获取分
        var s = dt.getSeconds();//获取秒
        document.getElementById("showTime").innerHTML = y + "年" + mt + "月" + day + "-" + h + "时" + m + "分" + s + "秒";
        t = setTimeout(time, 1000); //设定定时器，循环运行
      }

    </script>


  </div>
  <div class="mainbox">
    <ul class="clearfix">
      <li>
        <div class="boxall" style="height: 4.8rem">
          <div class="alltitle">1950-2021该国劳动力人口变化趋势</div>
          <div class="allnav" id="echart1"></div>
          <div class="boxfoot"></div>
        </div>
        <div class="boxall" style="height: 4.8rem">
          <div class="alltitle">1950-2021该国出生人口变化趋势</div>
          <div class="allnav" id="echart2"></div>
          <div class="boxfoot"></div>
        </div>
      </li>
      <li>
        <div class="bar">
          <div class="barbox">
            <ul class="clearfix">
              <li class="pulll_left counter leftcount">218941635</li>
              <li class="pulll_left counter rightcount">1082404983</li>
            </ul>
          </div>
          <div class="barbox2">
            <ul class="clearfix">
              <li class="pulll_left">1950年该国家总人口 </li>
              <li class="pulll_left">2021年该国总人口</li>
            </ul>
          </div>
        </div>
        <div class="map">
          <div class="map1"><img src="/layui/picture/lbx.png"></div>
          <div class="map2"><img src="/layui/picture/jt.png"></div>
          <div class="map3"><img src="/layui/picture/map.png"></div>
          <div class="map4" id="map_1"></div>
          <div class="filterbox">
            <select name="" id="types">
            </select>
            <a href="javascript:void(0)" id="filter">筛选</a>
          </div>
        </div>
      </li>
      <li>
        <div class="boxall" style="height:4.8rem">
          <!-- <div class="alltitle">模块标题样式4</div> -->
          <div class="allnav" id="echart4" style="height: 4.8rem;"></div>
          <div class="filterbox">
            <select name="" id="years2">
            </select>
            <!-- <select name="" id="types2">
            </select> -->
            <a href="javascript:void(0)" id="filter3">筛选</a>
          </div>
          <div class="boxfoot"></div>
        </div>
        <div class="boxall" style="height: 4.8rem">
          <div style="height:100%; width: 100%;">
            <div class="sy" id="fb1"></div>

            <div class="filterbox">
              <select id="yearSelector">
                <option value="1950">1950</option>
                <option value="1951">1951</option>
                <option value="1952">1952</option>
                <option value="1953">1953</option>
              </select>
              <a href="javascript:void(0)" id="filter0">筛选</a>
            </div>

          </div>
          <div class="boxfoot">

          </div>
        </div>
        <!-- <div class="boxall" style="height: 3.2rem">
          <div class="alltitle">2017-2020每年的总成年人口</div>
          <div class="allnav" id="echart5"></div>
          <div class="boxfoot"></div>
        </div>
        <div class="boxall" style="height: 3rem">
          <div class="alltitle">2017-2020年各类国家四年总人口</div>
          <div class="allnav" id="echart6"></div>
          <div class="boxfoot"></div>
        </div> -->
      </li>
    </ul>
  </div>
  <div class="back"></div>
    </div>
  </div>
</div>
  <script src="{% static 'js/area_echarts.js' %}"></script>
  <script>
    axios({
      method: 'get',//提交方法
      url: '/echart/blogs',//提交地址
      params: {
        username: '111',
      }
    }).then((res) => {
      console.log(res);
    })

  </script>
{% endblock %}