.part1{
	font-size:22px;
}
.part1 a{
	text-decoration:none;
	color:#666;
}
.en{
	color:#828282;
	font-size:15px;
}
.line1{
	height:3px;
	background:#d0d0d0;
	width:100%;
	margin-bottom:8px
}
.line2{
	height:3px;
	background: #005197;
	width:94px;
}
.text1{
	text-align:justify;
	font-size:13px;
	line-height:25px;
	color:#505050;
	margin-top:5px;
}
.carousel {
	margin-bottom: 40px;
}
.carousel .item {
	background-color: #000;
}
.carousel .nav-point{
	bottom:-14px;
}
.carousel .nav-title{
	font-size:12px;
	bottom:-14px;
}
.carousel .item img {
    width: 100%;
}
.carousel-caption {
	z-index: 10;
}
.carousel-caption p {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.8;
}
.more-btn{
	float:right;
	margin-top:7px;
	color:#828282;
	font-size:11px;
}
.list-new li{
	border-bottom:1px dashed #eae7e7;
	line-height:40px;
}
.list-new a{
	text-decoration:none;
	color:#666;
	font-size:13px;
}
.list-new a:hover{
	color:#d30a1c;
}
.list-new span{
	float:right;
	font-size:12px;
}
.list-new .public-detail{
	float:right;
	color:#d30a1c;
}


/* 联系我们 */
.procurement-li{
	line-height:35px;
	color:#666;
	font-size:13px;
}
.procurement-li a{
	text-decoration:none;
	color:#666;
}
.platform{
	width:100%;
	height:45px;
	background:#eae7e7;
	color:#fff;
	text-align:center;
	font-size:17px;
	line-height:42px;
}
.platform a{
	text-decoration:none;
	color:#666;
}
.platform a:hover{
	color:#d30a1c;
}
