* {
 	margin: 0;
 	padding: 0;
 }
body{ margin: 0;}
.container-fluid{
	background-color: #253F6A;
	color:white;
	}
	.top{
    width:100%;
	height: 100%;
	margin: 0 auto;
	background-color: #253F6A;
	color:white;
	}


.phone, .mail{
    color:#666;
    float:right;
}
.ant:link, .ant:visited, .ant:hover, .ant:active{
    text-decoration: none;
}
navbar-default{  /*导航栏*/
    margin-bottom: 0px;
    border:0px;
    background-color: blue;
    margin-top:30px;
}
.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus{
    background-color: #005197;/*active 激活时*/
    color: #fff;
}
.navbar-default .navbar-nav li a:hover, /*一级菜单hover时*/
.navbar-default .navbar-nav li.open a.on  /*一级菜单展开时，on类元素*/
{
    color: white;
    background-color:#005197 ;
}
.dropdown-menu{/*下拉菜单*/
    padding: 0px;
}
.dropdown-menu li a{
    padding:10px 0px;
    color:#777;
    text-align: center;
}
.nav-top{
    width:8%;/*每个一级菜单项*/
    text-align: center;
}


.model-details-title{
    padding:15px 0px;
    font-size: 18px;
    border-bottom: 1px #005197 solid;
    color:#005197;
    margin: 10px 0px ;
}
.model-details p{
    line-height: 30px;
    text-indent: 2em;
    text-align: justify;
    text-justify: inter-ideograph;
}
.model-details img{
    margin: 0px auto;
}


.col-md-4{
    font-size: 12px;
    }

.col-md-4:last-child{
	border-right: none;
}
.col-md-4-1 {
	text-align: left;
	margin-left: 20%;
	margin-top: 10px;
}

.col-md-4-2 img {
	width: 140px;
	height: 30px;
	margin-top: 15px;
	margin-left: 20%;
}

.col-md-4-3 img {
	width: 40px;
	height: 40px;
	margin-top: 15px;
	margin-left: 20%;
	float: left;
}
.col-md-4-3 .p {
	margin: 15px auto;
	float: left;
	font-size: 12px;
}
.bottom1 {
	background-color: #223656;
	width:100%;        /* 占满整个浏览器宽度 */
	margin-top:30px;   /* 设置与上边缘距离 */
}



.row-3{
    margin-top: 30px;
}
.model-title{
    text-align: center;
    color: #fff;
    font-size: 22px;
    padding: 15px 0px;
    background: #393D49;
    margin-top: 25px;
}
.model-list li{
    text-align: center;
    background-color: #f6f6f6;
    font-size: 16px;
}
.model-list li a{
    color:#545353;
}
.model-list li a:hover{
    text-decoration: none;
    color: #005197;
}


.model-list li.active, .model-list li.active:hover{
    text-align: center;
    background-color: #f6f6f6;
    font-size: 16px;
    border-color: #ddd;
}
.model-list li.active a{
    color:#005197;
}

.model-details-product-title{
    padding: 15px 0px;
    font-size: 18px;
    border-bottom: 1px #005197 solid;
    color: #005197;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}



