{% extends "base.html" %}
{% block title %}
    留言板
{% endblock %}
{% block content %}
    <style>
    .liuyan{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    </style>
<div class="layui-container">
  <div class="layui-row">
    <div class="layui-col-md-offset3 layui-col-md6">
      <h2 class="liuyan" >留言板</h2>
      <form method="post" class="layui-form" action="{% url 'liuyan' %}">
        {% csrf_token %}
        <div class="layui-form-item">
          <label class="layui-form-label"><i class="layui-icon layui-icon-username" style="font-size: large"></i>  用户名:</label>
          <div class="layui-input-block" style="width: 50%">
            <input type="text" name="name" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label"><i class="layui-icon layui-icon-email"  style="font-size: large"></i>邮箱</label>
          <div class="layui-input-inline" style="width: 50%">
            <input type="password" name="email" required lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux">qq邮箱/gmail</div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label"><i class="layui-icon layui-icon-praise"style="font-size: large"></i><i class="layui-icon layui-icon-tread"style="font-size: large"></i>选个评价吧:</label>
          <div class="layui-input-block">
            <select name="choice" lay-verify="required">
              <option value=""></option>
              <option value="0">真不错</option>
              <option value="1">挺好的</option>
              <option value="2">一般般</option>
              <option value="3">再去练练吧</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label"><i class="layui-icon layui-icon-male"style="font-size: large"></i><i class="layui-icon layui-icon-female"style="font-size: large"></i>性别:</label>
          <div class="layui-input-block">
            <input type="radio" name="sex" value="男" title="男">
            <input type="radio" name="sex" value="女" title="女" checked>
          </div>
        </div>
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label"><i class="layui-icon layui-icon-edit"style="font-size: large"></i>写下您的建议:</label>
          <div class="layui-input-block">
            <textarea name="experience" placeholder="请输入内容" class="layui-textarea"></textarea>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" type="submit" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}