{% extends "base.html" %}
{% block title %}
    聊天机器人
{% endblock %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container {
        max-width: 800px;
        padding: 20px;
        text-align: center;
        margin-left: 150px; /* 调整右边距 */
    }

    h1 {
        margin-bottom: 20px;
    }

    form {
        margin-bottom: 20px;
    }

    .response-container {
        white-space: pre-wrap;
        text-indent: 20px;
        font-family: monospace;
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 5px;
        word-wrap: break-word;
        max-width: 500px;
        margin: 0 auto;
        text-align: left; /* 左对齐 */
    }
</style>
<div class="container">
    <h1>ChatGPT</h1>

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="提交" class="btn btn-primary">
    </form>

    <h2>ChatGPT 响应:</h2>
    <div class="response-container">{{ response }}</div>

</div>

{% endblock %}
