<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">个人博客</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <!-- 移动端显示 -->
      <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
        <i class="layui-icon layui-icon-spread-left"></i>
      </li>

        <li class="layui-nav-item layui-hide-xs"><a href="/"><i class="layui-icon layui-icon-home"  style="font-size: large"></i>主页</a></li>
      <li class="layui-nav-item layui-hide-xs"><a href="{% url 'jishu:jishu' 'Python' %}"><i class="layui-icon layui-icon-tabs"  style="font-size: large"></i>技术杂谈</a></li>
      <li class="layui-nav-item layui-hide-xs"><a href="{% url 'suibi:note' %}"><i class="layui-icon layui-icon-edit"  style="font-size: large"></i>生活随笔</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="{% url 'ziliao:download'  %}"><i class="layui-icon layui-icon-file-b"  style="font-size: large"></i>资料下载</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="/echart"><i class="layui-icon layui-icon-face-smile"  style="font-size: large"></i>关于我</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="/chat"><i class="layui-icon layui-icon-android"  style="font-size: large"></i>一个简单的聊天机器人</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="/liuyan"><i class="layui-icon layui-icon-form"  style="font-size: large"></i>留言板</a></li>

    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <a href="javascript:;">
          <i class="layui-icon layui-icon-user" ></i>
          {{ user.username|default:'' }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">个人信息</a></dd>
            <form method="POST" action="{% url 'logout' %}">
             {% csrf_token %}
            <a href="#" onclick="this.parentNode.submit(); return false;">登出</a>
            </form>
          <dd><a href="/accounts/login">登录</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:;">
          <i class="layui-icon layui-icon-more-vertical"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">技术杂谈</a>
          <dl class="layui-nav-child">
            <dd><a href="{% url 'jishu:jishu' 'Python' %}">Python</a></dd>
            <dd><a href="{% url 'jishu:jishu' '前端' %}">前端</a></dd>
            <dd><a href="{% url 'jishu:jishu' '大数据' %}">大数据</a></dd>
            <dd><a href="{% url 'jishu:jishu' '金融' %}">NoSql</a></dd>
          </dl>
        </li>

        <li class="layui-nav-item"><a href="javascript:;">生活随笔</a></li>
        <li class="layui-nav-item"><a href="">资料下栽</a></li>
      </ul>
    </div>
  </div>
<div class="layui-body">
{% block content %}
{% endblock %}
</div>
</div>
<script src="/layui/layui.js"></script>
<script>
//JS
layui.use(['element', 'layer', 'util'], function(){
  var element = layui.element
  ,layer = layui.layer
  ,util = layui.util
  ,$ = layui.$;

  //头部事件
  util.event('lay-header-event', {
    //左侧菜单事件
    menuLeft: function(othis){
      layer.msg('展开左侧菜单的操作', {icon: 0});
    }
    ,menuRight: function(){
      layer.open({
        type: 1
        ,content: '<div style="padding: 15px;">处理右侧面板的操作</div>'
        ,area: ['260px', '100%']
        ,offset: 'rt' //右上角
        ,anim: 5
        ,shadeClose: true
      });
    }
  });

});
</script>
</body>
</html>


