{% extends "base.html" %}
{% load static %}
{% block title %}
随笔
{% endblock %}
{% block content %}
     <link href="{% static 'css/style.css' %}" rel="stylesheet" >
      <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/jishu.css' %}" rel="stylesheet" >
  <div class="container">
        <div class="row row-3">
                <div class="model-details-title">
                    {{ noteName }}
                    <div class="col-md-7 hidden-xs model-details-title-search">
                        <form method="get" action="{% url 'suibi:search'  %}">  <!--newsApp中名为search的路由-->                            		{% csrf_token %} <!--为了防止csrf（跨站请求伪造）-->
                            <div class="input-group"> <!--bootstrap-->
                                <input type="text" name="keyword" class="form-control" placeholder="请输入关键词" required>
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-default" value="查询">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="model-details">
                    {% for mynote in noteList %}   <!--newList为后台传过来的新闻数据-->
                    <div class="news-model">
                        <img src="{% static 'img/newsicon.gif' %}">
                        <a href="{% url 'suibi:noteDetail' mynote.id %}"> <b>{{ mynote.title }}</b> </a>
                        <span> 【{{ mynote.publishDate|date:"Y-m-d" }}】</span>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}